.ProseMirror {
  min-height: 100px;
  padding: 1rem 0;
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.ProseMirror [data-selected="true"] {
  background-color: rgba(35, 131, 226, 0.07);
  border-radius: 0.25rem;
} 